.colleges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2% 5%;
    gap: 20px;
}

.colleges__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.colleges__header__name {
    /* No additional CSS properties specified for this class */
}

.colleges__header__input {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.colleges__header__input__icon {
    width: 15%;
    height: 46px;
    background: #7848f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.colleges__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
}
