// FAQs.scss
.Hello {
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;

  h1 {
    color: black;
    margin-bottom: 40px;
  }

 .list {
    max-width: 100px;
    width: 75%;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border: 1px solid #534141;
    gap: 10px;
    border-radius: 8px;
 }

    ul {
      list-style-type: none;
      padding: 5;
      margin-top: 30px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 100px;
    }

      li {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 30px;
        padding: 20px;
      }

        h3 {
          color: black;
          margin-bottom: 10px;
        }

        p {
          color: #333;
        }
      
      }
  

  p a {
    
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
